.home-container {
    max-width: 420px;
    margin: 0 auto;
    margin: 0 auto;
    margin-top: 40px;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}

.signup {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table-operations {
    margin-bottom: 16px;
    margin-top: 8px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.table-operations > button {
    margin-right: 8px;
    margin-top: 8px;
}

.chats-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.room-drawer {
    overflow: 'auto';
    height: 'calc(100% - 108px)';
    padding-bottom: '108px';
}

.buttons-form {
    position: 'absolute' !important;
    left: 0 !important;
    bottom: 0 !important;
    width: '100%' !important;
    border-top: '1px solid #e9e9e9' !important;
    padding: '10px 16px' !important;
    background: '#fff' !important;
    text-align: 'right' !important;
}
